*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*�ƶ��˵���������*/
/*�������Ч��*/
body {
  font-size: 0.186666rem;
  color: #333;
  font-family: "microsft yahei", "sans-serif";
}

ul,
ol {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #333;
}

input,
textarea {
  border: none;
  outline: none;
  resize: none;
  /*���Ĭ�ϵ���ʽΪ��*/
  -webkit-appearance: none;
}

/*common css*/
.f_left {
  float: left;
}

.f_right {
  float: right;
}

.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}